{% extends 'base.html' %}


{% block content %}

{% for ep in episod %}

    <h1>{{ ep.title }}</h1>
    <hr>

    <img src="{{ url_for('static', filename='images/' + num + '.webp')}}" alt="Episode Painting">

    <br>
    <h6>Image may not show the whole painting.</h6>
    <br>

    <p>
        "{{ ep.title }}" first aired on PBS on {{ ep.release_date }}. 
        It is the {{ e }} episode in season {{ ep.season }}, the {{ o }} episode overall.
        This painting 
        
        {% for i in port %}
            {% if i == 1 %}
                is a portrait.
            {% else %}
                features 

                {% for i in alel%}

                    {% if i == alel[-1] %}
                    {% else %}
                        {{ i }}, 
                    {% endif %}

                {% endfor %}
                
                and {{ alel[-1] }}.
            {% endif %}
        {% endfor %}

    </p>

    <p>
        <a href="https://en.wikipedia.org/wiki/The_Joy_of_Painting">Learn more about the show.</a>
    </p>

    <p>
        <a href="{{ ep.link }}">View Youtube video for {{ ep.title }}.</a>
    </p>

    <p>
        <a href="{{ url_for('season', seas=ep.season) }}">Return to the episodes in season {{ ep.season }}</a>
    </p>

    <p>
        <a href="{{ url_for('index') }}">Return to the season selection</a> to select a different season.
    </p>

{% endfor %}

{% endblock %}