
html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.topnav {
    background-color: rgb(0, 42, 40);
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: rgb(248, 255, 244);
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    background: rgb(6, 107, 102);
    margin: 0;
}
#container {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    margin: 2em auto;
    max-width: 800px;
    padding: 2rem 4rem;
    background: rgb(248, 255, 244);
    overflow: auto;
}
h1 {
    font-family: 'Georgia', serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}
h2 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
}
div.all {
    font-size: 0.5rem;
}
.top {
    font-family: 'Georgia', serif;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem 0;
}
.left {
    text-align: left;
}

h6 {
    text-align: center;
}

p, li {
    font-size: 1.4rem;
    line-height: 1.5;
}

img {
    display:flex;
    margin: auto;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgb(169, 169, 169), 0 6px 20px 0 rgb(169, 169, 169);
}

form {
    margin: 20px;
    padding: 10px;
}

.seasons {
    display:inline-block;
}


/* links */

a {
    color: #009;
    text-decoration: none;
}
a:hover {
    color: #0cc;
    text-decoration: underline;
}


