{% extends 'base.html' %}

{% block title %}
All Episodes
{% endblock %}


{% block content %}

<h2>Click any episode name.</h2>



{% for ep in eps %}

    {% if (ep.ep_order % 13) == 1 %}
        <p class="top">
        Season {{ ep.season }}
        </p>
        <ol>
            <li><a href="{{ url_for( 'detail', num=ep.ep_order ) }}">{{ ep.title }}</a></li>
    {% elif (ep.ep_order % 13) == 0 %}
            <li><a href="{{ url_for( 'detail', num=ep.ep_order ) }}">{{ ep.title }}</a></li>
        </ol>
    {% else %}
        <li><a href="{{ url_for( 'detail', num=ep.ep_order ) }}">{{ ep.title }}</a></li>
    {% endif %}

{% endfor %}


<a href="{{ url_for('index') }}">Back to season selection</a></p>

{% endblock %}