<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
    {% block title %}
    {% endblock %}
    </title>

  {{ bootstrap.load_css() }}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% block script %}
  {% endblock %}

</head>
<body>

    <header>
        <div class="topnav">
            <span>
                The Joy of Painting
            </span>
            <span>
                Bob Ross
            </span>
        </div>
    </header>


    <div id="container">

    {% block content %}
    {% endblock %}

    </div>

{{ bootstrap.load_js() }}
</body>
</html>